html,
body,
#root {
  height: 100%;
}

body {
  margin: 0;
  background-color: #020617;
  color: #e2e8f0;
  font-family: "Inter", "Segoe UI", system-ui, -apple-system, BlinkMacSystemFont,
    "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
